

<div class="row">
	<div class="large-12 columns">
		<h1>Signup Form</h1>
		<hr>
		<form method="POST" action="/user/create">
			<div class="row">
				<div class="large-6 columns">
					<label>Full name
						<input type="text" name="name" placeholder="Enter your name" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label>Title
						<input type="text" name="title" placeholder="Define your title" />
					</label>
				</div>
				<div class="left large-4 columns">
					<label> Email
						<input type="email" name="email" placeholder="Enter your Email" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label>Password
						<input type="password" name="password" placeholder="Enter a new password" />
					</label>
				</div>
				<div class="left large-4 columns">
					<label> Confirm Password
						<input type="password" name="confirmation" placeholder="Confirm your new password" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
 					<input type='hidden' name='_csrf' value='<%= _csrf %>'>
					<input type="submit" class="button" value="Sign Up">
				</div>
			</div>
		</form>
	</div>
</div>
