<style>


	.banner{
		 background: url(img_flwr.gif);
	    background-size: 1000px 400px;
	    background-repeat: no-repeat;
	    text-align: center;
	}

	.banner a{
		margin-top: 20px;
	}

	
</style>
<div class="row">
	<div class="banner large-12 columns">
	<img src="http://placehold.it/1000x400&amp;text=[Signup]">
		<a href="/user/new" class="button"> Signup</a>
		<hr>
	</div>	
</div>
